@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

* {
  box-sizing: border-box;
}

body {
  background: #eee;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Calibri, Arial, sans-serif;
	color: #333;

	header {
		width: 100%;
		height: 64px;
		padding: 10px 0;
		background: #0d47a1;
		box-shadow: 0 2px 2px rgba(0,0,0,0.4);
		color: #fff;
		z-index: 9999;
		top: 0;
		position: fixed;
		
		&, img {
			transition: all 0.4s ease-in-out;
		}
	
		img {
			width: 150px;
			margin-left: 24px;
			display: inline-block;
			vertical-align: middle;
		}
	
		.nav-links {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 30px;
			a {
				color: #fff;
				margin-left: 24px;
			}
		}
	}
	
	& > .app {
		margin-top: 64px;
	}
	
	.container {
		width: 80%;
		margin: 80px auto;
	}
}

a {
	text-decoration: none;
	color: #005cb2;
	&:hover {
		color: #1e88e5;
	}
}

input {
	outline: none;
	padding: 10px 14px;
	color: #fff;
	border: none;
	border-radius: 36px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	background: rgba(0, 0, 0, 0.52);
}

button {
	outline: none;
	padding: 10px 14px;
	color: #fff;
	border: none;
	border-radius: 36px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	background: #1061EE;
	cursor: pointer;
	transition: background 0.5s ease-in-out;
	&:disabled {
		background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #1061EE;
		cursor: not-allowed;
	}
}

label.error-text {
	color: red !important;
}

select {
	outline: none;
	padding: 10px 14px;
	color: #fff;
	border: none;
	border-radius: 36px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	background: rgba(0, 0, 0, 0.52);
}