@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

* {
  box-sizing: border-box;
}

body {
  background: #eee;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', Calibri, Arial, sans-serif;
	color: #333;

	header {
		width: 100%;
		height: 64px;
		padding: 10px 0;
		background: #0d47a1;
		box-shadow: 0 2px 2px rgba(0,0,0,0.4);
		color: #fff;
		z-index: 9999;
		top: 0;
		position: fixed;
		
		&, img {
			transition: all 0.4s ease-in-out;
		}
	
		img {
			width: 150px;
			margin-left: 24px;
			display: inline-block;
			vertical-align: middle;
		}
	
		.nav-links {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 30px;
			a {
				color: #fff;
				margin-left: 24px;
			}
		}
	}
	
	& > .app {
		margin-top: 64px;
	}
	
	.container {
		width: 80%;
		margin: 80px auto;
	}
}

a {
  text-decoration: none;
}