@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,800');

* {
  box-sizing: border-box;
}

body {
  background: #eee;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', Calibri, Arial, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
}