.container.home {
	margin-top: 120px;
	.gallery {
		width: 100%;
		// column-gap: 20px;
		// column-fill: balance;
		position: relative;
		> * {
			display: inline-block;
			background-color: #f0f0f0;
			margin: 8px 0;
			> img {
				width: 100%;
			}
			> *:first-child {
				margin-top: 0;
			}
			> *:last-child {
				margin-bottom: 0;
			}
		}
		
		figure.item {
			position: absolute;
			color: #fff;
			background-color: rgba(#000, 0.8);
			background-image: linear-gradient(rgba(#fff, 0.1), rgba(#000, 1));
			overflow: hidden;
			
			figcaption.title {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 100%;
				height: 50%;
				z-index: 1;
				opacity: 0;
				padding: 20px;
				box-sizing: border-box;
				transition: all 0.2s linear;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				font-size: 14px;
			}

			.stats {
				position: absolute;
				top: 10px;
				right: 10px;
				display: flex;
				align-items: center;
				font-size: 20px;
				opacity: 0;
				transition: all 0.2s linear;

				span {
					margin-right: 2px;
				}

				i {
					font-size: 18px;

					&:first-of-type {
						margin-right: 8px;
					}
				}
			}

			&:hover {
				cursor: pointer;
				img {
					opacity: 0.4;
					-webkit-transform: scale(1.2);
					transform: scale(1.2);
					-webkit-transition: .3s ease-in-out;
					transition: .3s ease-in-out;
				}

				figcaption.title, .stats {
					opacity: 1;
				}
			}
		}

		img {
			float: left;
			box-sizing: border-box;
			transition: all 0.2s linear;
			-webkit-transform: scale(1);
			transform: scale(1);
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
		}
	} //change this according responsive.


	.search-box {
		background-color: rgba(#fff, 0.7);
		position: fixed;
		top: 64px;
		right: 0;
		left: 0;
		text-align: center;
		z-index: 1;
		& > #seach-post-input {
			margin: 8px auto;
			width: 30%;
			&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
				color: rgba(#fff, 0.6);
				opacity: 1; /* Firefox */
			}
			
			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				color: rgba(#fff, 0.6);
			}
			
			&::-ms-input-placeholder { /* Microsoft Edge */
				color: rgba(#fff, 0.6);
			}
		}
		@media screen and (max-width: 1024px) {
			& > #seach-post-input {
				width: 60%;
			}
		}
		@media screen and (max-width: 580px) {
			top: 56px;
			& > #seach-post-input {
				width: 90%;
			}
		}
	}
}