.gallery {
  column-gap: 20px;
  column-fill: balance;
  position: relative;
  > * {
    display: inline-block;
		background-color: #f0f0f0;
		margin: 8px 0;
    > img {
      width: 100%;
    }
    > *:first-child {
      margin-top: 0;
    }
    > *:last-child {
      margin-bottom: 0;
    }
  }
  img {
    float: left;
  }
} //change this according responsive.
