header {
  width: 100%;
  padding: 10px 0;
  background: #0d47a1;
	box-shadow: 0 2px 2px rgba(0,0,0,0.4);
	color: #fff;
  z-index: 9999;
  top: 0;
  position: fixed;
  
  &, img {
    transition: all 0.4s ease-in-out;
  }

  img {
		width: 160px;
		margin-left: 24px;
		display: inline-block;
		vertical-align: middle;
  }

  &.shrink {
    padding: 8px 0;
    img {
      width: 110px;
    }
  }

  .nav-links {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
		right: 30px;
		a {
			color: #fff;
			margin-left: 24px;
		}
  }
}

.gallery {
  column-gap: 20px;
  column-fill: balance;
  position: relative;
  > * {
    display: inline-block;
		background-color: #f0f0f0;
		margin: 8px 0;
    > img {
      width: 100%;
    }
    > *:first-child {
      margin-top: 0;
    }
    > *:last-child {
      margin-bottom: 0;
    }
  }
  img {
    float: left;
  }
} //change this according responsive.
