header {
  width: 100%;
  padding: 20px 0;
  background: #fff;
  border-bottom: 1px solid #e1e1e1;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  z-index: 9999;
  top: 0;
  position: fixed;
  
  &, img {
    transition: all 0.4s ease-in-out;
  }

  img {
    width: 200px;
    display: block;
    margin: 0 auto;
  }

  &.shrink {
    padding: 4px 0;
    img {
      width: 150px;
    }
  }

  a.login-link {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
  }
}

.container {
  width: 80%;
  margin: 150px auto;
}

.gallery {
  column-gap: 4px;
  column-fill: balance;
  position: relative;
  >* {
    display: inline-block;
    background-color: #f0f0f0;
    >img {
      width: 100%;
    }
    >*:first-child {
      margin-top: 0;
    }
    >*:last-child {
      margin-bottom: 0;
    }
  }
  img {
    float: left;
  }
} //change this according responsive.
