.gallery {
	width: 100%;
  // column-gap: 20px;
  // column-fill: balance;
  position: relative;
  > * {
    display: inline-block;
		background-color: #f0f0f0;
		margin: 8px 0;
    > img {
			width: 100%;
    }
    > *:first-child {
			margin-top: 0;
    }
    > *:last-child {
			margin-bottom: 0;
    }
	}
	
	figure.item {
		position: absolute;
		color: #fff;
		background-color: rgba(#000, 0.8);
		background-image: linear-gradient(rgba(#fff, 0.1), rgba(#000, 1));
		overflow: hidden;
		
		figcaption.title {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 50%;
			z-index: 1;
			opacity: 0;
			padding: 20px;
			box-sizing: border-box;
			transition: all 0.2s linear;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			font-size: 16px;
		}

		&:hover {
			cursor: pointer;
			img {
				opacity: 0.4;
				-webkit-transform: scale(1.2);
				transform: scale(1.2);
				-webkit-transition: .3s ease-in-out;
				transition: .3s ease-in-out;
			}

			figcaption.title {
				opacity: 1;
			}
		}
	}

  img {
		float: left;
		box-sizing: border-box;
		transition: all 0.2s linear;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
  }
} //change this according responsive.
