#login-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(https://images.unsplash.com/photo-1533568024501-de28de1280c6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5a75db13d7de4af6166c7f885998763b&auto=format&fit=crop&w=1986&q=80);
  background-size: cover;
  background-position: center;

  #login-wrapper {
    width: 430px;
    margin: 0 auto;
    padding: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.75);
      z-index: -1;
      @media screen and (max-width: 580px) {
        background: rgba(0, 0, 0, 0.35);
      }
    }

    #tabs {
      margin-bottom: 64px;

      a {
        text-transform: uppercase;
        margin-right: 40px;
        padding: 11px 4px;
        color: #bbb;
        cursor: pointer;

        &.active {
          border-bottom: 1.5px solid #1061EE;
          color: #fff;
        }
      }
    }

    .form-wrapper {
      .form-group {
        position: relative;
        margin-bottom: 16px;
        
        label {
          display: block;
          margin-bottom: 6px;
          font-size: 14px;
          margin-left: 14px;
          color: #bbb;
        }
      
        input {
          width: 100%;
          background: rgba(0, 0, 0, 0.52);
          transition: background 0.5s ease-in-out;
          
          &:focus {
            background: rgba(0, 0, 0, 0.6);
          }
				}

				button {
					width: 100%;
					margin-top: 14px;
				}

				&.error-box {
					height: 16px;
				}
			}
			
			.register-success {
				white-space: pre-wrap;
				text-align: center;
				color: white;
				line-height: 32px;
				a {
					color: #1061EE;
					font-weight: bold;
				}
			}
    }
  }
}

@media screen and (max-width: 490px) {
  body {
    display: table;
    width: 100%;
  }
  #login-wrapper {
    width: auto;
    height: 100vh;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
  }
}

@media screen and (max-width: 490px) {
  #login-wrapper {
    padding: 28px;
  }
}