#profile-page {
	width: 100%;
	margin-top: 64px;
	.my-info {
		width: 100%;
		height: 300px;
		position: relative;
		.cover-photo {
			width: 100%;
			height: 100%;
			background-color: #d8d8d8;
			background-size: cover;
			background-position: center;
			position: relative;
			z-index: 0;
			& > .layer {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.03) 8%,rgba(0,0,0,.11) 21%,rgba(0,0,0,.61) 78%,rgba(0,0,0,.7) 95%,rgba(0,0,0,.7));
			}
		}
		.center {
			margin: 0 auto;
			position: absolute;
			top: 0;
			right: 20%;
			left: 20%;
			bottom: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			z-index: 1;
			color: #ffffff;
			.avatar {
				background-image: url('/img/avatar_placeholder.png');
				background-size: contain;
				border: 2px solid #ffffff;
				border-radius: 50%;
				width: 120px;
				height: 120px;
				-webkit-transition: .15s ease-in-out;
				transition: .15s ease-in-out;
				-webkit-transform: scale(1);
				transform: scale(1);
				display: flex;
				align-items: center;
				justify-content: center;
				& > button.change-avatar {
					padding: 5px;
					font-size: 10px;
					display: none;
				}
				&:hover {
					-webkit-transform: scale(1.2);
					transform: scale(1.2);
					& > button.change-avatar {
						display: block;
					}
				}
				&.uploading {
					opacity: 0.6;
					& > button.change-avatar {
						display: none;
					}
				}
			}

			.fullname {
				margin-top: 16px;
				font-weight: 500;
				font-size: 20px;
			}

			.numbers {
				margin-top: 32px;
				display: flex;
				justify-content: space-between;
				width: 100%;
				span {
					& + span {
						margin-left: 16px;
					}
				}
			}
		}
	}

	.my-posts {
		width: 80%;
		margin: 24px auto;
	}
}