#upload-page {
	&.container {
		height: calc(100vh - 64px);
		width: 100%;
		background-color: #212121;
		margin: 0 auto;
		padding: 40px 0;
		overflow: hidden;

		form {
			padding: 0;
			margin: 0;
			height: 100%;
			position: relative;

			.upload {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: 0 5%;
				transition: right 0.5s ease-in-out;
				
				.image-preview {
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					transition: all 0.1s ease-in-out;
					position: absolute;
					top: 5%;
					bottom: 5%;
					right: 0;
					left: 0;
					z-index: 0;
				}

				button.select-file {
					padding: 14px 18px;
					display: block;
					margin-bottom: 16px;
					z-index: 1;
				}
				
				&.uploaded {
					right: 30%;

					button.select-file {
						display: none;
					}

					&:hover {
						.image-preview {
							filter: brightness(20%);
						}
						button.select-file {
							display: block;
							box-shadow: 0px 1px 1px #444444;
						}
					}

					& + .info {
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}

			.info {
				position: absolute;
				top: -150%;
				bottom: 0;
				right: 5%;
				left: 70%;
				transition: top 0.5s ease-in-out;

				.form-group {
					margin-bottom: 32px;

					label {
						color: #ffffff;
						display: block;
						margin-bottom: 8px;
					}

					input {
						width: 90%;
						min-width: 200px;
					}
				}
				
				.multiple-select {
					width: 70%;
				}
			}
		}
		@media screen and (max-width: 580px) {
			padding: 16px 0;
			form {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				.upload, .info {
					position: relative;
					height: inherit;
				}
				.upload {
					& + .info {
						display: none;
						left: 5%;
						top: unset;
						bottom: unset;
						transform: none;
						label, input {
							font-size: 14px;
						}
					}
					&.uploaded + .info {
						display: block;
						top: unset;
						bottom: unset;
						transform: none;
					}
				}
				button {
					font-size: 14px;
				}
			}
		}
	}
}