.post-container {
	width: 100%;

	.light-box {
		width: 100%;
		height: calc(100vh - 160px);
		background-color: #212121;
		display: flex;
		align-items: center;
		position: relative;

		.back-home {
			position: absolute;
			top: 16px;
			left: 16px;
			color: #fff;
			display: flex;
			align-items: center;

			&:hover {
				cursor: pointer;
				span {
					text-decoration: underline;
				}
			}
		}

		.image-wrapper {
			margin: auto;
			max-width: 70%;
			max-height: 80%;
			display: flex;
			& > img {
				width: 100%;
				height: auto;
				object-fit: contain;
			}
		}

		button.navigate {
			background: transparent;
			border: none;
			text-align: center;

			&:focus {
				outline: none;
			}

			&:hover {
				cursor: pointer;
			}

			i {
				color: #ffffff;
				font-size: 80px;
			}
		}

		.actions {
			text-align: center;
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			padding: 16px;
			& > div {
				color: #ffffff;
				display: inline-block;
				&:first-child {
					margin-right: 32px;
				}
				&.like.liked {
					i {
						color: #d32f2f;
					}
				}
				&.flag.flagged {
					i {
						color: #9c27b0;
					}
				}
				&:hover {
					cursor: pointer;
					&.like {
						i {
							color: #d32f2f;
						}
					}
					&.flag {
						i {
							color: #9c27b0;
						}
					}
				}
				i {
					font-size: 32px;
				}
			}
		}
	}

	.information {
		width: 80%;
		margin: 24px auto;
		
		.upper {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: wrap;

			.title {
				width: 100%;
				font-size: 24px;
				font-weight: bold;
				margin-bottom: 24px;
			}

			.user-details {
				width: 40%;
				min-width: 350px;
				.avatar {
					width: 48px;
					height: 48px;
					border-radius: 50%;
					background-color: #d8d8d8;
					display: inline-block;
					vertical-align: middle;
					margin-right: 8px;
					background-image: url('/img/avatar_placeholder.png');
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
				}

				.name {
					display: inline-block;
					vertical-align: middle;
					font-size: 18px;
					font-family: 'Roboto';
				}
			}

			.post-details {
				width: 60%;
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				flex-wrap: wrap;
				table.stats {
					table-layout: fixed;
					margin: 12px 0;
					width: 45%;
					min-width: 250px;
					tr {
						td {
							width: 33%;
							text-align: center;
						}
						
						&.keys {
							td {
								font-family: 'Roboto';
								font-weight: bold;
								font-size: 14px;
							}
						}

						&.values {
							td {
								font-size: 16px;
								padding-top: 18px;
							}
						}
					}
				}

				.categories {
					padding: 12px 0;
					width: 45%;
					min-width: 250px;
					& > label {
						font-family: 'Roboto';
						font-size: 14px;
						& + .tags-container {
							margin-top: 10px;
						}
					}
				}
			}
		}

		.bottom {
			margin-top: 24px;

			.comments-section {
				width: 50%;
				margin: 0 auto;

				& > h3 {
					margin-top: 0;
					font-family: 'Roboto';
				}

				.comment {
					width: 100%;
					position: relative;
					& + .comment {
						margin-top: 24px;
					}
					.avatar {
						width: 36px;
						height: 36px;
						border-radius: 50%;
						background-color: #d8d8d8;
						display: inline-block;
						vertical-align: top;
						margin-right: 16px;
						background-image: url('/img/avatar_placeholder.png');
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center;
					}
					.right-side {
						display: inline-block;
						vertical-align: top;

						.name {
							font-size: 14px;
							font-weight: bold;
							margin-bottom: 4px;
						}

						.text {
							font-size: 14px;
						}
					}
					.time {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						right: 0;
						font-size: 12px;
					}
				}

				textarea.comment-input {
					width: 60%;
					margin: 0 auto 32px;
					display: block;
					padding: 8px;
					outline: none;
					border-radius: 4px;
					font-family: 'Montserrat', sans-serif;
					font-size: 16px;
					background: #d8d8d8;
					resize: vertical;
					min-height: 50px;
					&:hover, &:focus {
						background: #fff;
					}
				}
			}
		}
	}

	@media screen and (max-width: 1200px) {
		.information {
			width: 95%;
		}
	}

	@media screen and (max-width: 900px) {
		.light-box {
			height: 80vh;
			.image-wrapper {
				max-width: 85%;
			}
			button.navigate {
				i {
					font-size: 40px;
				}
			}
		}

		.information {
			.upper {
				.user-details, .post-details {
					width: 100%;
					table.stats {
						tr.values td {
							font-size: 14px;
						}
					}
				}
			}
			.bottom {
				.comments-section {
					width: 100%;
				}
			}
		}
	}

	@media screen and (max-width: 580px) {
		.information {
			.upper {
				.post-details {
					table.stats {
						margin-left: auto;
						margin-right: auto;
					}
					.categories {
						width: 100%;
					}
				}
			}
		}
	}
}